# Tuples

In [136]:
tup = (3,4,5)

In [137]:
tup

(3, 4, 5)

In [138]:
tup = 3,4,5

In [139]:
tup

(3, 4, 5)

In [140]:
tuple([4,0,54])

(4, 0, 54)

In [141]:
nested = tup, (6,7)

In [142]:
nested

((3, 4, 5), (6, 7))

In [143]:
nested + tup

((3, 4, 5), (6, 7), 3, 4, 5)

In [144]:
tup = (1, [2,3])
tup[1].append(4)
tup

(1, [2, 3, 4])

In [145]:
tup * 4

(1, [2, 3, 4], 1, [2, 3, 4], 1, [2, 3, 4], 1, [2, 3, 4])

In [146]:
tup = (4,5,6)
a, b, c = tup
b

5

In [147]:
a, b = (1, 2)

In [148]:
a

1

In [149]:
b

2

In [150]:
b, a = a, b
a, b

(2, 1)

In [151]:
values = 1,2,3,4,5
a, b, *rest = values

In [152]:
a

1

In [153]:
b

2

In [154]:
rest

[3, 4, 5]

In [155]:
a, b, *_ = values

In [156]:
_

[3, 4, 5]

In [157]:
tup = 1,2,2,3,4,4,2
tup.count(2)

3

# List

In [158]:
a_list = [5, 4, 7, 'hello']

In [159]:
b_list = list(tup)

In [160]:
b_list

[1, 2, 2, 3, 4, 4, 2]

In [161]:
gen = range(10)

In [162]:
gen

range(0, 10)

In [163]:
type(gen)

range

In [164]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [165]:
b_list.append('last')
b_list

[1, 2, 2, 3, 4, 4, 2, 'last']

In [166]:
b_list.insert(1, 'second')
b_list

[1, 'second', 2, 2, 3, 4, 4, 2, 'last']

In [167]:
a_list.pop(2)

7

In [168]:
a_list

[5, 4, 'hello']

In [169]:
a_list.remove('hello')
a_list

[5, 4]

In [170]:
5 in a_list

True

In [171]:
5 not in a_list

False

In [172]:
a_list + b_list

[5, 4, 1, 'second', 2, 2, 3, 4, 4, 2, 'last']

In [173]:
a_list.extend(b_list)
a_list

[5, 4, 1, 'second', 2, 2, 3, 4, 4, 2, 'last']

extend is faster than concatenation

In [174]:
b = ["saw", "small", "He", "foxes", "six"]

b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [175]:
b[1:5]

['saw', 'six', 'small', 'foxes']

In [176]:
b[2:4] = ['seven', 'big']
b

['He', 'saw', 'seven', 'big', 'foxes']

In [177]:
b[:4]

['He', 'saw', 'seven', 'big']

In [178]:
b[2:]

['seven', 'big', 'foxes']

In [179]:
b[-2]

'big'

In [180]:
b[-3:]

['seven', 'big', 'foxes']

In [181]:
b[:-3]

['He', 'saw']

In [182]:
b[::2]

['He', 'seven', 'foxes']

Reversing a list or a tuple

In [183]:
b[::-1]

['foxes', 'big', 'seven', 'saw', 'He']

# Dictionary

In [184]:
person = {}

In [185]:
person['name'] = 'albaraa'
person['job'] = 'software engineer'
person

{'name': 'albaraa', 'job': 'software engineer'}

In [186]:
school = {
    'location' : 'Turkey',
    'student_count' : 2000
}
school['student_count']

2000

In [187]:
'name' in person

True

In [188]:
del person['job']
person

{'name': 'albaraa'}

In [189]:
school.pop('location')

'Turkey'

In [190]:
d1 = {
    'a' : 1,
    'b' : 'some value',
    'c' : 'another value'
}

In [191]:
list(d1.keys())

['a', 'b', 'c']

In [192]:
list(d1.values())

[1, 'some value', 'another value']

In [193]:
list(d1.items())

[('a', 1), ('b', 'some value'), ('c', 'another value')]

In [194]:
list(d1)

['a', 'b', 'c']

In [195]:
d2 = {
    'b' : 'ssup foo',
    'c' : 12
}

d1.update(d2)
d1

{'a': 1, 'b': 'ssup foo', 'c': 12}

In [196]:
a = range(4)
b =  range(3)
list(zip(a, b))

[(0, 0), (1, 1), (2, 2)]

In [197]:
a

range(0, 4)

In [198]:
b

range(0, 3)

In [199]:
dict(zip(a,b))

{0: 0, 1: 1, 2: 2}

In [200]:
zip?

In [201]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [202]:
from collections import defaultdict

by_letter_1 = defaultdict(list)

for word in words:
    by_letter_1[word[0]].append(word)
    
dict(by_letter_1.items())

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [203]:
hash('string')

-4916935996727764418

In [204]:
hash(([1]))

TypeError: unhashable type: 'list'

In [ ]:
hash?

In [ ]:
d = {}
d[[1,2,3]] = 4

While the values of a dictionary can be any Python object, the keys generally have to be immutable objects like scalar types (int, float, string) or tuples (all the objects in the tuple need to be immutable, too). The technical term here is hashability. You can check whether an object is hashable (can be used as a key in a dictionary) with the hash function:

# Set

In [ ]:
set([2,2,2,1,3,3])

A set only contains unique elements

In [ ]:
a = {1, 2, 3, 4, 5}

b = {3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)

In [ ]:
a | b

In [ ]:
a.intersection(b)

In [135]:
a & b

{3, 4, 5, 6, 7, 8}

In [134]:
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8}

If you pass an input that is not a set to methods like union and intersection, Python will convert the input to a set before executing the operation. When using the binary operators, both objects must already be sets.

In [205]:
my_data = [1, 2, 3, 4]

my_set = {tuple(my_data)}

my_set
{(1, 2, 3, 4)}

{(1, 2, 3, 4)}

Like dictionary keys, set elements generally must be immutable, and they must be hashable (which means that calling hash on a value does not raise an exception). In order to store list-like elements (or other mutable sequences) in a set, you can convert them to tuples:

In [206]:
{1, 2, 3} == {3, 2, 1}

True

Sets are equal if and only if their contents are equal:

# Built-In Sequence Functions

In [10]:
list1 = list(range(1,10,2))
for i, value in enumerate(list1):
    print(f"[{i}] : {value}")

[0] : 1
[1] : 3
[2] : 5
[3] : 7
[4] : 9

In [11]:
sorted([7,1,4,3,6,9,2,0])

[0, 1, 2, 3, 4, 6, 7, 9]

In [12]:
seq1 = [0, 1, 2]
seq2 = [56, 43, 15]
list(zip(seq1, seq2))

[(0, 56), (1, 43), (2, 15)]

zip can take an arbitrary number of sequences, and the number of elements it produces is determined by the shortest sequence

In [13]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: 0, 56
1: 1, 43
2: 2, 15

In [14]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# List, Set, and Dictionary Comprehensions

List Comprehension

[expr for value in collection if condition]

In [16]:
strings = ["a", "as", "bat", "car", "dove", "python"]

[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

Dictionary and Set Comprehensions

dict_comp = {key-expr: value-expr for value in collection if condition}

set_comp = {expr for value in collection if condition}

In [18]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [19]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [21]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

Nested List Comprehensions

In [22]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
             ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [23]:
two_a = [name for names in all_data for name in names if name.count("a") >= 2]
two_a

['Maria', 'Natalia']

Note: There is no tuple comprehension

# Functions

In [24]:
def myfunction(x, y):
    return x + y

myfunction(1, 2)

3

If Python reaches the end of a function without encountering a return statement, None is returned automatically

Each function can have positional arguments and keyword arguments. Keyword arguments are most commonly used to specify default values or optional arguments.

In [25]:
def myfunction2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)
    
myfunction2(2, 3)

7.5

In [26]:
myfunction2(2, 3, 1)

0.2

# Namespaces, Scope, and Local Functions

A variable scope in Python is a namespace. Any variables that are assigned within a function by default are assigned to the local namespace. The local namespace is created when the function is called and is immediately populated by the function’s arguments. After the function is finished, the local namespace is destroyed.

In [27]:
a = None

def bind_a_variable():
    global a
    a = []
bind_a_variable()

print(a)

[]

Assigning variables outside of the function's scope is possible, but those variables must be declared explicitly using either the global or nonlocal keywords

Caution
I generally discourage use of the global keyword. Typically, global variables are used to store some kind of state in a system. If you find yourself using a lot of them, it may indicate a need for object-oriented programming (using classes).

# Returning Multiple Values

In [32]:
def f():
    a = 5; b = 6; c = 7
    return a, b, c

value = f()
value

(5, 6, 7)

In [36]:
def f():
    a = 5; b = 6; c = 7
    return {'a' : a, 'b' : b, 'c' : c}
value = f()
value

{'a': 5, 'b': 6, 'c': 7}

# Lambda Functions

In [38]:
strings = ['foo', 'card', 'bar', 'aaa', 'abab']

Sort strings by the number of distinct letters in each string:

In [41]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaa', 'foo', 'abab', 'bar', 'card']

# Generators

An iterator is any object that will yield objects to the Python interpreter when used in a context like a for loop.

In [42]:
some_dict = {"a": 1, "b": 2, "c": 3}
dict_iterator = iter(some_dict)
dict_iterator

In [43]:
list(dict_iterator)

['a', 'b', 'c']

A generator is a convenient way, similar to writing a normal function, to construct a new iterable object. Whereas normal functions execute and return a single result at a time, generators can return a sequence of multiple values by pausing and resuming execution each time the generator is used. To create a generator, use the yield keyword instead of return in a function:

In [44]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [45]:
gen = squares()
gen

It is not until you request elements from the generator that it begins executing its code:

In [46]:
for x in gen:
    print(x)

Generating squares from 1 to 100
1
4
9
16
25
36
49
64
81
100

Note:
Since generators produce output one element at a time versus an entire list all at once, it can help your program use less memory.

Generator expressions

In [47]:
gen = (x ** 2 for x in range(10))

gen

itertools

In [49]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

# Errors and Exception Handling

In [1]:
float("1.234")

1.234

In [2]:
float("something")

ValueError: could not convert string to float: 'something'

Below is version of float that fails gracefully, returning the input argument.

In [4]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
    
attempt_float("1.2345")

1.2345

In [5]:
attempt_float("something")

'something'

We might want to suppress only ValueError, since a TypeError might indicate a legitimate bug in our program.

In [7]:
float((1,2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [9]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [10]:
attempt_float((1,2))

TypeError: float() argument must be a string or a real number, not 'tuple'

We can catch multiple errors by writing a tuple of exception types

In [11]:
def attempt_float(x):
    try:
        return float(x)
    except (ValueError, TypeError):
        return x

We might want some code to be executed regardless of wether or not the code in they try block succeeds.

In [14]:
path = 'file'
def write_to_file(x):
    return x

f = open(path, mode="w")

try:
    write_to_file(f)
finally:
    f.close()

If try block succeeds we can use else

In [15]:
f = open(path, mode="w")

try:
    write_to_file(f)
except:
    print("Failed")
else:
    print("Succeeded")
finally:
    f.close()

Succeeded

In [20]:
path = 'test.txt'
f = open(path, encoding='utf-8')

In [21]:
for line in f:
    print(line)

A

A

B

D

B

Ad

D

G

Asdfg

Ash

A

Ar

Te

Fas

Did

Feh

Dh

S

Ga

Ha

Rha

Gdg

Ads

Ads

Gasgas

Ha

Da

Ty

Aha

In [23]:
lines = [x.rstrip() for x in open(path, encoding='utf-8')]
lines

['A',
 'A',
 'B',
 'D',
 'B',
 'Ad',
 'D',
 'G',
 'Asdfg',
 'Ash',
 'A',
 'Ar',
 'Te',
 'Fas',
 'Did',
 'Feh',
 'Dh',
 'S',
 'Ga',
 'Ha',
 'Rha',
 'Gdg',
 'Ads',
 'Ads',
 'Gasgas',
 'Ha',
 'Da',
 'Ty',
 'Aha']

In [24]:
f.close()

When you use open to create file objects, it is recommended to close the file when you are finished with it. Closing the file releases its resources back to the operating system.

One of the ways to make it easier to clean up open files is to use the with statement:

In [25]:
with open(path, encoding='utf-8') as f:
    lines = [x.strip() for x in f]

This will automatically close the file f when exiting the with block.

<table border="1">
    <thead>
        <tr>
            <th>Mode</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>r</code></td>
            <td>Read-only mode</td>
        </tr>
        <tr>
            <td><code>w</code></td>
            <td>Write-only mode; creates a new file (erasing the data for any file with the same name)</td>
        </tr>
        <tr>
            <td><code>x</code></td>
            <td>Write-only mode; creates a new file but fails if the file path already exists</td>
        </tr>
        <tr>
            <td><code>a</code></td>
            <td>Append to existing file (creates the file if it does not already exist)</td>
        </tr>
        <tr>
            <td><code>r+</code></td>
            <td>Read and write</td>
        </tr>
        <tr>
            <td><code>b</code></td>
            <td>Add to mode for binary files (i.e., "rb" or "wb")</td>
        </tr>
        <tr>
            <td><code>t</code></td>
            <td>Text mode for files (automatically decoding bytes to Unicode); this is the default if not specified</td>
        </tr>
    </tbody>
</table>

In [28]:
f1 = open(path)
f1.read(10)

'A\nA\nB\nD\nB\n'

In [30]:
f2 = open(path, 'rb') #Binary mode
f2.read(10)

b'A\nA\nB\nD\nB\n'

The read method advances the file object position by the number of bytes read. tell gives you the current position

In [31]:
f1.tell()

10

In [32]:
f1.read(5)
f1.tell()

15

In [33]:
import sys
sys.getdefaultencoding()

'utf-8'

To get consistent behavior across platforms, it is best to pass an encoding (such as encoding="utf-8", which is widely used) when opening files.

seek changes the file position to the indicated byte in the file:

In [34]:
f1.seek(3)
f1.tell()

3

In [35]:
f1.read(1)
f1.tell()

4

In [36]:
f1.close()
f2.close()

To write text to a file, you can use the file’s write or writelines methods.

In [37]:
path

'test.txt'

In [41]:
with open('tmp.txt', mode='x') as handle:
    handle.writelines(x for x in open(path) if len(x) > 2)

In [42]:
with open('tmp.txt') as f:
    lines = f.readlines()
    
lines

['Ad\n',
 'Asdfg\n',
 'Ash\n',
 'Ar\n',
 'Te\n',
 'Fas\n',
 'Did\n',
 'Feh\n',
 'Dh\n',
 'Ga\n',
 'Ha\n',
 'Rha\n',
 'Gdg\n',
 'Ads\n',
 'Ads\n',
 'Gasgas\n',
 'Ha\n',
 'Da\n',
 'Ty\n',
 'Aha\n']